title: Releases
description: >- # this means to ignore newlines until "baseurl:"
  Upcoming movie & series releases.
baseurl: "/releases" # the subpath of your site, e.g. /blog
url: "https://jasoncoon.github.io" # the base hostname & protocol for your site, e.g. http://example.com
author: by Jason Coon
twitter_username: jasoncoon_
github_username: jasoncoon

# Build settings
theme: minima
plugins:
  - jekyll-feed
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
